.container {
  max-width: 90%;
  margin: 0.5rem auto;
}
.areaImput {
  display: flex;
  flex-direction: row;
  background-color: var(--dark-900);
  padding: 35px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;

  height: 35px;
  input {
    text-align: center;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    font-weight: 999;
    color: var(--green-900);
    outline: none;

    margin-left: 1rem;
    background: transparent;
    // color: aqua;
  }

  input:focus {
    border: 2px solid #3fffa3;
  }
}
.buttonNovo {
  height: 40px;
  padding: 0 25px;
  border: 0;
  background-color: var(--green-900);
  font-weight: bolder;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  margin-left: 1rem;
  color: var(--dark-700);
}
.listOrder {
  display: flex;
  flex-direction: column;
  margin: 0.3rem 0;
}
.orderItem {
  display: flex;
  flex-direction: column;
  padding: 30px;

  background-color: var(--dark-900);

  margin-bottom: 1px;
  align-items: center;

  border-radius: 0.3rem;

  span {
    color: #fff;
  }
}
.tag {
  height: 60px;
  width: 6px;
  background-color: var(--green-900);
  border-radius: 6px 0 0 6px;
  margin-right: 1rem;
}
.tagNameDate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 95%;
  span {
    color: #fff;
    font-size: 20px;
  }
}
.tagNameDate1 {
  display: flex;
  width: 95%;
  justify-content: flex-end;
  span {
    color: #fff;
    font-size: 20px;
  }
}
.scroll {
  display: flex;
  flex-direction: column;

  height: 500px;
  overflow-x: scroll;
  scroll-behavior: initial;
  padding: 5px;
  &::-webkit-scrollbar {
    width: 0px;
  }
  margin-top: 0.6rem;
  scrollbar-width: none;
}
.divTotal {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  margin-top: 20px;
  background-color: var(--dark-900);
  border-radius: 5px;
  padding: 20px;
  button {
    display: flex;
    height: 40px;
    padding: 0 25px;
    border: 0;
    background-color: var(--red-900);
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    margin-left: rem;
    color: var(--dark-700);
    align-items: center;
  }
  span {
    color: var(--green-900);
    font-size: 25px;
  }
}
