.container {
  width: 630px;
  background-color: var(--dark-700);
  color: var(--white);
  padding: 1rem 0 0 0;
}

.containerItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem 0;
  padding-bottom: 1rem;
  span {
    margin-bottom: 0.7rem;
    font-size: 17px;
  }
}
.email {
  color: var(--green-900);
  font-weight: bold;
}
.permisson {
  font-size: 15px;
  margin-top: 3px;
}

.AreaButtonFechar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h2 {
    margin: 1rem 0;
    color: var(--white);
  }
}
