.container {
  display: flex;
  max-width: 100%;
}

.item1 {
  height: 45rem;
  width: 25%;
  padding-left: 25px;
  overflow-x: scroll;
  scroll-behavior: initial;
  &::-webkit-scrollbar {
    width: 0px;
  }
  scrollbar-width: none;
}
.item2 {
  display: flex;
  align-items: center;
  flex-direction: column;

  height: 45rem;
  width: 60%;
  margin-left: 25px;
  overflow-x: scroll;
  scroll-behavior: initial;
  background-color: var(--dark-900);
  border-radius: 0.3rem;
  padding: 25px;
  h1 {
    color: var(--white);
  }
  &::-webkit-scrollbar {
    width: 0px;
  }
  scrollbar-width: none;
}

.containerHeader {
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: center;
  margin-bottom: 25px;

  h1 {
    color: var(--white);
  }
  button {
    background: transparent;
    border-width: 0;
    margin-left: 1rem;
  }
}
.listOrder {
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  margin-right: 1px;
}
.orderItem {
  display: flex;
  flex-direction: row;
  background-color: var(--dark-900);
  width: 100%;
  margin-bottom: 0.5rem;
  align-items: center;
  border-radius: 0.3rem;

  button {
    border: 0;
    width: 90%;
    background: transparent;
    font-size: 1.2rem;
    color: var(--white);
    height: 60px;
    align-items: center;
    display: flex;
    margin-right: 1rem;
  }
}
.tag {
  height: 60px;
  width: 6px;
  background-color: var(--green-900);
  border-radius: 6px 0 0 6px;
  margin-right: 1rem;
}
///
///
///
.orderItemProd {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  border-bottom: solid;
  border-radius: 0.3rem;
  border-color: var(--dark-700);

  span {
    color: var(--white);
    font-size: 25px;
    margin-bottom: 25px;
  }
  button {
    border: 0;
    width: 90%;
    background: transparent;
    font-size: 1.2rem;
    color: var(--white);
    height: 60px;
    align-items: center;
    display: flex;
    margin-right: 1rem;
  }
}
.listOrdem {
  width: 95%;
  margin-top: 1rem;
}
@media (max-width: 1024px) {
  .containerHeader {
    h1 {
      font-size: 70.7%;
    }
  }
  .container {
    max-width: 100%;
  }
  .orderItem {
    max-width: 100%;
    button {
      font-size: 70.7%;
    }
  }
  .orderItemProd {
    span {
      font-size: 80%;
    }
  }
}
.optionButton {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  justify-content: flex-end;

  button {
    background-color: #3fffa3;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    transition: filter 0.2s;
    padding: 0.4rem;
    width: 100px;
    height: 50px;
    &:hover {
      cursor: pointer;
      filter: brightness(1.13);
    }
  }
  a {
    color: var(--white);
    font-weight: bold;
  }
}
.buttonAtualizar {
  &[disabled] {
    cursor: not-allowed;
    svg {
      animation: animate 2s infinite;
    }
  }
  &:hover {
    filter: brightness(1.13);
  }
}
@keyframes animate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
