.container {
  display: flex;

  max-width: 100%;
  height: 100%;
  padding: 5px;
}
.containerMesas {
  border-radius: 0.3rem;
  margin-left: 0.3rem;
  height: 45rem;
  width: 25%;
  padding-left: 25px;
  overflow-x: scroll;
  scroll-behavior: initial;
  &::-webkit-scrollbar {
    width: 0px;
  }
  scrollbar-width: none;
}
.listOrder {
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  width: 95%;
  margin-right: 1px;
}
.listOrder {
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  margin-right: 1px;
}
.orderItem {
  display: flex;
  flex-direction: row;
  background-color: var(--dark-900);
  width: 100%;
  margin-bottom: 0.5rem;
  align-items: center;
  border-radius: 0.3rem;

  button {
    border: 0;
    width: 100%;
    background: transparent;
    font-size: 1.2rem;
    color: var(--white);
    height: 60px;
    align-items: center;
    display: flex;
    margin-right: 1rem;
    &:active {
      color: #ff3f4b;
      .tag {
        background-color: #ff3f4b;
      }
    }
  }
}

.tag {
  height: 60px;
  width: 6px;
  background-color: var(--green-900);
  border-radius: 6px 0 0 6px;
  margin-right: 1rem;
}
.orderProduc {
  width: 100%;
  margin-bottom: 1rem;
  span {
    padding: 2rem;
  }
}
.orderitemProps {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 20px;
  width: 80%;
  margin-bottom: 1rem;
  span {
    width: 100%;
    color: var(--white);
  }
}
.containerItens {
  background-color: var(--dark-900);
  height: 45rem;
  width: 73%;
  margin-left: 25px;
  border-radius: 0.3rem;
  padding: 10px;
}
.itens {
  height: 75%;
}
.subTotal {
  display: flex;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 25px;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--dark-700);
  height: 10%;
  h1 {
    color: var(--white);
  }
}
.divButton {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 14%;
  border-radius: 10px;
  background-color: var(--dark-700);
  button {
    height: 70%;
    width: 25%;
    border-radius: 10px;
    font-weight: bold;
  }
}
.cabecalhoItens {
  display: flex;
  background-color: var(--dark-700);
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;

  height: 30px;
  padding-left: 5px;
  width: 83%;
  margin-bottom: 1rem;
  span {
    width: 100%;
    color: var(--green-900);
    font-size: 20px;
    font-weight: bold;
  }
}
.btnpagamento {
  background-color: var(--green-900);

  border: 0;
  color: var(--dark-900);
}
.btncancelamento {
  background-color: var(--red-900);
  border: 0;
  color: var(--);
}
